body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  text-align: center;
  background-color: #eee;
  line-height: 1.6;
  font-weight: 300;
  min-height: 2000px;
}

.container {
  width: 80%;
  margin: auto;
}

.typography {
  display: flex;
}

.typography .col {
  flex: 1;
  margin: 0 0.5em;
  padding: 0 0.5em;
}

/* em */
/* .typography {
  font-size: 10px;
}

.col-em {
  font-size: 2em;
}

.col-em h2 {
  font-size: 2em;
}

.col-em p {
  font-size: 1.5em;
} */

/* rem */
/* .col-rem {
  font-size: 10px;
}

.col-rem h2 {
  font-size: 2rem;
}

.col-rem p {
  font-size: 1.5rem;
} */

.btn {
  display: inline-block;
  background: #333;
  font-weight: 700;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em 3em;
  margin: 0 1.5rem;
}

.btn-sm {
  font-size: 0.5em;
}
.btn-lg {
  font-size: 2em;
}
