body {
  font-family: arial;
}

h1,
h2 {
  color: #19d3da;
}

ul li a {
  color: orange;
}

ol li a {
  color: green;
}

#p1 {
  color: orange;
}

.p2 {
  color: green;
}

.print-bold {
  font-weight: bold;
}

p.print-bold {
  font-size: 30px;
}
