<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <h2>Contact List</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% if (contacts.length === 0) { %>
          <tr>
            <td colspan="4">
              <div class="alert alert-danger fw-bold" role="alert">Contact empty!</div>
            </td>
          </tr>
          <% } %> <% contacts.forEach((contact, i) => { %>
          <tr>
            <th scope="row"><%= i++ + 1 %></th>
            <td><%= contact.name %></td>
            <td><%= contact.phoneNumber %></td>
            <td>
              <a href="/contact/<%= contact.name %>" class="btn btn-success badge rounded-pill"><i class="bi bi-info-circle"></i> Detail</a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
