.kotak {
  width: 200px;
  height: 200px;
  background-color: salmon;
  animation: animasiKotak 2s ease 3 alternate forwards;
}

@keyframes animasiKotak {
  0% {
    width: 200px;
  }

  50% {
    width: 500px;
    height: 200px;
  }

  100% {
    width: 500px;
    height: 500px;
  }
}
