<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/Luna.png" alt="Luna" class="img-thumbnail rounded-circle" width="200" />
      <h1 class="display-4">Luna</h1>
      <p class="lead">Founder of Lunatic Project</p>
    </div>
  </div>
</div>
